<ion-view view-title="Timer">
  <ion-content padding="true" class="has-header">
    <div class="list">
      <a class="item">
        Brush Teeth
        <span class="item-icon-right item-note">
          3:01
          <i class="icon ion-play">
          </i>
        </span>
      </a>

      <a class="item item-icon-left">
        <i class="icon ion-ios-stopwatch"></i>
        Floss Teeth
        <span class="badge badge-assertive">
          3:45
        </span>
      </a>


      <a class="item item-icon-right">
        Eat
        <i class="icon ion-play"> </i>
      </a>

<div class="row row-center">
  <div class="col">
   <a class="button button-icon icon ion-plus-circled">
        </a>
  </div>
</div>

       



    <div class="bar-subfooter button-bar"></div>
    <button class="button  button-assertive button-block">I'm Probably Done</button>


  </ion-content>
</ion-view>

