<ion-view view-title="{{routineTitle}}">
  <ion-content padding="true" class="has-header background">

 <!-- Duration of attempt -->
    <div
      class="bigDiff"
      ng-show="buttonStatus != 'none'"
      >
      {{bigDiff}}
    </div>
 <!-- Welcome text -->
    <div
      class="card instructions"
      ng-show="buttonStatus === 'none'"
      >
     Welcome to Nawdler! Enter the steps of your routine. Tap any step to begin timing and pause the previous step. Hit done to analyze your results.
    </div>

<div class="list">
  <a
    class="item"
    ng-repeat="step in steps"
    ng-click="startStep(step)"
    ng-class="(step.status === 'doing'? 'item item-icon-left item-button-right' : 'item') + ' ' + (step.status === 'todo'? 'item item-icon-right' : 'item') + ' ' + (step.status === 'done'? 'item item-icon-right':'item')"
    >
    <!-- SORRY. -->
    <font size="+1">
  <!-- Show step title for all steps -->
    {{step.title}}
    </font>
    <!-- Show timer icon if status = "doing" -->
    <i
      class="icon ion-ios-stopwatch"
      ng-show="step.status === 'doing'">
    </i>

    <!-- Show play button if status is not "doing" -->
    <i
      class="icon ion-play"
      ng-show="step.status != 'doing'">
    </i>
      <span class="item-note" ng-show="step.status === 'done'">
        {{step.timeDiff}}
    </span>
          <button class="button running button-assertive" ng-show="step.status === 'doing'">
        {{step.timeDiff}}
    </button>

  </a>
</div>

    <!-- Add a step input box -->
      <form ng-submit="addStep(timer.newStep)">
        <div class="item addAStep item-input">
          <input placeholder="Add New Step" type="text" ng-model="timer.newStep"/>
          <button class="plusButton" type="submit"><a class="button button-icon custom-icon icon ion-plus-circled">
          </a></button>
          <!-- Need to fix the button. Button does not actually work. -->
        </div>
      </form>

    <!-- I'm PROBABLY done button -->
    <div class="bar-subfooter button-bar"></div>
    <button
      class="button button-assertive button-block"
      ng-click="probablyDone()"
      ng-show="buttonStatus === 'probably'"
      >
      I'm Probably Done
    </button>

    <!-- I'm DEFINITELY done button -->
    <div class="bar-subfooter button-bar"></div>
    <button
      class="button button-assertive button-block"
      ng-click="finishAttempt()"
      ng-show="buttonStatus === 'definitely'"
      >
      Finish and Analyze
    </button>


  <!-- End of page -->
  </ion-content>
</ion-view>