<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-dark tabs-icon-top tabs-color-active-assertive">

   <!-- Routines Tab -->
  <ion-tab class="tabStyle" title="Routines" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/routines">
    <ion-nav-view name="tab-routines"></ion-nav-view>
  </ion-tab>

  <!-- Timer Tab -->
  <ion-tab class="tabStyle" title="Timer" icon-off="ion-ios-stopwatch-outline" icon-on="ion-ios-stopwatch" href="#/tab/timer">
    <ion-nav-view name="tab-timer"></ion-nav-view>
  </ion-tab>

  <!-- Graph Tab -->
  <ion-tab class="tabStyle" title="Analysis" icon-off="ion-stats-bars" icon-on="ion-stats-bars" href="#/tab/graph">
    <ion-nav-view name="tab-graph"></ion-nav-view>
  </ion-tab>




</ion-tabs>
